html {
  font-family: var(--body);
  background: var(--bg);
  color: var(--text);
  background-color: burlywood;
}

body {
  margin: 0;
  padding: 0;
}

div {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

.header img {
  height: 100px;
  width: auto;
}

.header {
  display: flex;
  align-items: center;
  background-color: white;
}

.hero-section {
  background: var(--hero-bg);
  padding: 32px;
  border-radius: 8px;
  margin: 16px;
  background-color: white;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

.pet-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  border: solid rgb(168, 138, 98) 2px;
  background-color: white;
  border-radius: 10px;
  margin: 16px;
}

.pet-card-container .pet-card {
  width: 300px;
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 16px;
  background: var(--card-bg);
}

.pet-card-container img {
  height: auto;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.pet-card-container .pet-card h2 {
  text-decoration: underline;
}